//  =================
//  = Body =
//  =================

body {
  font-family: Arial;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
}

//  =================
//  = Code snippets =
//  =================

code {
  padding: .2em;
  margin: 0;
  background-color: #f7f7f7;
  border-radius: 3px;
}

code[class*=language]{
  height: auto;
}

//  =================
//  = Basic styling =
//  =================

[aria-hidden="true"]{
  display: none;
}

[aria-disabled="true"]{
  opacity: .5;
}

label {
  display: block;
}

input {
  font-size: 1em;
  padding: .75em;
}

button {
  background-color: #00b4f1;
  border-width: 0;
  color: white;
  font-size: 1em;
  margin-right: .5em;
  padding: .75em;
}

a {
  color: #00b4f1;
}

.toggle {
  background-color: #f7f7f7;
  margin-bottom: 1.5em;
  padding: 1.5em;

  &[data-active="true"]{
    background-color: #81c784;
    color: #FFF;
  }

}

.trigger {
  margin-bottom: 1.5em;
}

//  =========
//  = Table =
//  =========

table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 1.5em;
    text-align: left;
  }

  tbody {

    tr:nth-child(odd) {
      background-color: #f7f7f7;
    }

    td,
    th {
      border-top: 1px solid black;
    }

  }

}

//  ===============
//  = Dialog Demo =
//  ===============

.dialog {
  background: rgba(0,0,0, .5);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

  &[aria-hidden="false"]{
    background: rgba(0,0,0, .5);
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .dialog__inner {
    background: white;
    color: black;
    display: inline-block;
    padding: 3em;
    text-align: left;
  }
}

//  ===============
//  = Tabs Demo =
//  ===============

.tabs {

  .tabs__nav {
    border-bottom: 1px solid black;
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    > li {
      display: inline-block;

      a {
        border: 1px solid black;
        color: black;
        display: block;
        margin-bottom: -1px;
        padding: .75em 1.5em;
        text-decoration: none;

        &[data-active="true"]{
          border-bottom-color: white;
        }
      }

    }

  }

  .tabs__panel {
    color: black;
    display: none;

    &[data-active="true"]{
      background: #FFF;
      display: block;
    }

  }

}

//  ==================
//  = Accordion Demo =
//  ==================

.accordion {

  .accordion__panel {
    border: 1px solid black;
    margin-bottom: -1px;
  }

  .accordion__panel-header {

      a {
        color: black;
        display: block;
        font-weight: bold;
        padding: 1.5em;
        text-decoration: none;

        &[data-active="true"]{
          border-bottom: 1px solid black;
        }

      }

  }

  .accordion__panel-content {
    background-color: #f7f7f7;
    color: black;
    display: none;
    margin-bottom: 0;
    padding: 1.5em;

    &[aria-expanded="true"]{
      background-color: #f7f7f7;
      display: block;
    }

  }

}