body {
  font-family: Arial;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
}

code {
  padding: .2em;
  margin: 0;
  background-color: #f7f7f7;
  border-radius: 3px;
}

code[class*=language]{
  height: auto;
}

[data-active="true"]{
  background: green;
}

[data-active="false"]{
  background: red;
}

input.activated {
  outline: 1px solid blue;
}

input.deactivated {
  outline: 1px solid red;
}

input.activated::after,
input.deactivated::after{ display: none; }

[aria-hidden],
[aria-disabled],
[data-active]{
  transition: all 100ms ease-out;
}

[aria-hidden="true"],
[aria-active="false"]
    [aria-disabled="true"]{
  opacity: .5;
}

table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 1.5em;
    text-align: left;
  }

  tbody {

    tr:nth-child(odd) {
      background-color: #f7f7f7;
    }

    td,
    th {
      border-top: 1px solid black;
    }

  }

}

.dialog {
  background: rgba(0,0,0, .25);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

  &[aria-hidden="false"]{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .dialog__inner {
    background: white;
    display: inline-block;
    padding: 3em;
    text-align: left;
  }
}